- content_for :title do
  About
%h3 About The Horizon
.row
  .col-md-12
    = image_tag(asset_path('staff2016-2017about.jpg'), width: '100%')
  %h3.centered Welcome to the Horizon online!
  %hr.centered
  %h4.centered We are the Horizon, Westmont College’s weekly on-campus newspaper.
  
  %h4.centered As a student-run periodical, we are committed to providing the Westmont student body with quality journalism rooted in Christ. We seek to promote substantial dialogue and raise awareness of important issues in the lives of Westmont students.

  %h4.centered We take our responsibility as stewards of the student body’s voice very seriously, and wholeheartedly welcome any contribution to campus dialogue from students and alumni. Feel free to email Will Walker, Editor-in-Chief, at #{link_to "wwalker@westmont.edu", "mailto:wwalker@westmont.edu"}. Or, you can reach out to us via our contact page!

  %h4.centered Interested in receiving a copy of the Horizon delivered to your home or office? Please contact Managing Editor Brianna Newport (#{link_to "bnewport@westmont.edu","bnewport@westmont.edu"}), or Subscriptions Manager Priscilla Cardenas (#{link_to "pcardenas@westmont.edu","pcardenas@westmont.edu"}), or follow this link to #{link_to "the Horizon Subscription Order Form.", "http://forms.westmont.edu/forms/student_orgs/horizon/"}
  %hr
  %h5.centered The Horizon is distributed each Tuesday at various spots on campus including the Dining Commons, Murchison Gym and the post office. Pick up your copy today!
  %hr
  %h5.centered This website is hosted locally at #{link_to "Westmont College", "http://westmont.edu"}, is updated weekly and was developed with the #{link_to "Ruby on Rails Programming Language", "http://rubyonrails.org/"} by Adam Hess and Connor Riva. Any errors on the site should be reported via email to (#{link_to "support@westmont.edu","support@westmont.edu"})
  
