- content_for :title do
  Contact
%h3 Contact The Horizon
.row
  .col-md-12
    = image_tag(asset_path('staff2016-2017contact.jpg'), width: '100%')
  %h3.centered Thanks for your interest in the Horizon!
  %hr.centered 
  %h4.centered Check us out on Social Media! 
  .centered
    = link_to(image_tag(asset_path('facebook.png')), 'https://www.facebook.com/westmont.horizon', :target => "_blank")
    = link_to(image_tag(asset_path('twitter.png')), 'https://twitter.com/WestmontHorizon', :target => "_blank")
  %hr
  %h5.centered Please send general inquiries to: #{link_to "horizon@westmont.edu", "mailto:horizon@westmont.edu"}

  %h5.centered Interested in advertising in the Horizon? Contact Managing Editor Brianna Newport at #{link_to "bnewport@westmont.edu", "mailto:bnewport@westmont.edu"}

  %h5.centered 
    Interested in receiving a copy of the Horizon delivered to your home or office? Please follow this link to the Horizon Subscription Order Form, or contact a member of our staff listed below.
  %hr
  %h4.centered If you would like to get in contact with a member of our staff, please refer to the listings below:  
  %br
  %h5.centered Editor-in-Chief: Will Walker (#{link_to "wwalker@westmont.edu", "mailto:wwalker@westmont.edu"})
  %br
  %h5.centered Managing Editor: Brianna Newport (#{link_to "bnewport@westmont.edu", "mailto:bnewport@westmont.edu"})
  %br
  %h5.centered News Editor: Rachel Clyde (#{link_to "rclyde@westmont.edu", "mailto:rclyde@westmont.edu"})
  %h5.centered Features Editor: Emily Backman (#{link_to "ebackman@westmont.edu", "mailto:ebackman@westmont.edu"})
  %h5.centered Sports Editor: Tim Heiduk (#{link_to "theiduk@westmont.edu", "mailto:theiduk@westmont.edu"})
  %h5.centered Arts & Entertainment Editor: Rae Briones (#{link_to "rbriones@westmont.edu", "mailto:rbriones@westmont.edu"})
  %h5.centered Opinions/Editorials Editor: Brianna Newport (#{link_to "bnewport@westmont.edu", "mailto:bnewport@westmont.edu"})
  %h5.centered Capstone Editors: Nina Fox (#{link_to "nfox@westmont.edu", "mailto:nfox@westmont.edu"})
  %br
  %h5.centered Copy Editors: Caleb Rodriguez (#{link_to "calrodriguez@westmont.edu", "mailto:calrodriguez@westmont.edu"}) & Wesley Stenzel (#{link_to "wstenzel@westmont.edu", "mailto:wstenzel@westmont.edu"})
  %br 
  %h5.centered Design Editor: Lauren Koo (#{link_to "lkoo@westmont.edu", "mailto:lkoo@westmont.edu"})
  %h5.centered Photo Editor: Hannah Corral (#{link_to "hcorral@westmont.edu", "mailto:hcorral@westmont.edu"})
  %h5.centered Graphics & Comics Editor: Ransom Bergen (#{link_to "mailto:rbergen@westmont.edu", "mailto:rbergen@westmont.edu"})
  %br

  %h5.centered Business Manager: Tim Metz (#{link_to "tmetz@westmont.edu", "mailto:tmetz@westmont.edu"})
  %br 
  %h5.centered Subscriptions Manager: Priscilla Cardenas (#{link_to "pcardenas@westmont.edu", "mailto:pcardenas@westmont.edu"})
  %br 
  %h5.centered Faculty Advisor: Dr. Randy VanderMey (#{link_to "vanderme@westmont.edu", "mailto:vanderme@westmont.edu"})
